{% macro render_tree(items) %}
<ul class="tree-list">
    {% for item in items %}
    <li class="tree-item" data-name="{{ item.name | lower }}">
        {% if item.type == "dir" %}
        <details open>
            <summary class="tree-dir">&#128193; {{ item.name }}</summary>
            {{ render_tree(item.children) }}
        </details>
        {% else %}
        <a href="/edit/{{ item.path }}" class="tree-file {% if file_path is defined and file_path == item.path %}active{% endif %}">
            &#128196; {{ item.name }}
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{{ render_tree(tree) }}
